@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,500;0,600;1,300;1,500&display=swap');

.nav-btn {
  font-family: 'Shantell Sans', cursive;
   
    font-weight: 500;
    font-style: italic;
}
